# Ignorar arquivos .env
.env

# Ignorar arquivos de compilação e logs
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar diretórios específicos do ambiente virtual
venv/
env/

# Ignorar a pasta de migrações (se necessário)
migrations/

# Ignorar o arquivo SQLite (se você estiver usando SQLite para o desenvolvimento local)
*.db

#Ignorar configurações de VS Code
.vscode/

# Ignorar cache do pip
pip-wheel-metadata/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cobertura de teste
.coverage
coverage.xml
*.cover
nosetests.xml

# ignorar arquivvo de imagem
.static/images/