{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Lista de Usuários</h2>

    {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered shadow-sm rounded user-table">
                <thead class="table-primary">
                    <tr>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning text-center shadow-sm">Nenhum usuário encontrado.</div>
    {% endif %}
</div>
{% endblock %}
