<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <header>
        <h1>Lista de Usuários</h1>
    </header>
    
    <main>
        <ul>
            {% for user in users %}
                <li>
                    <strong>Nome:</strong> {{ user.name }} <br>
                    <strong>Username:</strong> {{ user.username }} <br>
                    <strong>Email:</strong> {{ user.email }} <br>
                    <hr>
                </li>
            {% else %}
                <li><strong>Nenhum usuário encontrado.</strong></li>
            {% endfor %}
        </ul>
        
    </main>

    <footer>
        <p>&copy; 2025 JP Contabil. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
